/* Styles partagés pour la page détail d'un projet */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
  position: relative;
  z-index: 2;
}

.title {
  font-size: 2.25rem;
  margin: 0 0 0.5rem 0;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  text-shadow: 0 6px 18px rgba(0, 0, 0, 0.6);
}

.header {
  margin-bottom: 1.5rem;
}

.contenu {
  /* font-family: var(--font-jetbrains-mono), "JetBrains Mono", monospace; */
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.95);
  text-align: justify;
  margin: 0 0 2rem 0;
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.45);
}
.description {
  color: rgba(255, 255, 255, 0.95);
  text-align: center;
  margin: 0 0 2rem 0;
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.45);
  font-weight: 200;
  font-style: italic;
  letter-spacing: 2px;
}

.centerText {
  text-align: center;
}
.alignContenu {
  text-align: justify;
  font-style: italic;
  letter-spacing: 2px;
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: start;
  margin-top: 2rem;
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagePlaceholder {
  width: 80%;
  height: 220px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.7);
}

.projectImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  max-height: 450px;
  display: block;
}

.details h2 {
  margin-top: 0;
  color: #369eb0;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  line-height: 1.2;
}

.links {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 2.25rem;
  margin-bottom: 1.25rem;
}

.link {
  background-color: transparent;
  background: rgba(2, 28, 45, 0.5);
  backdrop-filter: blur(5px);
  transition: all 0.3s ease;
  border: 1px solid white;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  color: #ffffff;
}

.link:hover {
  transform: translateY(-2px);
  color: #07a7bd;
}

.linkPrimary {
  background-color: white;
  color: #07a7bd;
  border-color: transparent;
}

.btnSecondary {
  background-color: transparent;
  background: rgba(2, 28, 45, 0.5);
  backdrop-filter: blur(5px);
  transition: all 0.3s ease;
  border: 1px solid white;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 2.2rem; /* léger décalage vers le bas */
  border-radius: 8px;
  text-decoration: none;
  color: #ffffff;
}

.btnSecondary:hover {
  color: #07a7bd;
  transform: translateY(-2px);
}

.tech {
  padding: 0.375rem 0.75rem;
  border-radius: 20px;
  font-size: 0.875rem;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.06);
}
