.nav div {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0);
  position: sticky;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(8px);
  transition: all 0.3s ease;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  font-family: var(--font-jetbrains-mono), "JetBrains Mono", monospace;
}

.container {
  align-items: center;
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0.5rem 4rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #369ab0;
  text-decoration: none;
  grid-column: 1;
  justify-self: start;
}

.menu {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  grid-column: 2;
  justify-self: center;
}

.link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s ease;
}

.link:hover {
  color: #36a8b0;
}

@media (max-width: 768px) {
  .nav div {
    display: block;
  }

  .container {
    padding: 0.75rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
